#footer {
  position: fixed;
  bottom: 0;
  height: 22px;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 5px;
  opacity: 0;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  text-shadow: 0 0 5px black; }

.is-sticky #footer {
  top: auto !important;
  bottom: 0 !important;
  opacity: 1;
  font-size: 12px; }
