html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 20px; }

#content {
  width: 50%;
  margin-left: 50%;
  position: absolute;
  top: 100%;
  background: #ffc800;
  padding: 100px 0; }

.question {
  margin: 20px auto 60px;
  background: none;
  width: 70%;
  position: relative;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat; }
  .question img {
    width: 100%; }
  .question .desc {
    position: absolute;
    font-size: 1.5em;
    width: 80%;
    top: 60px;
    left: 15%; }

.question.sm .desc {
  top: 41%; }

.question.md .desc {
  top: 29%; }

.question.lg .desc {
  top: 22%; }

.choices {
  width: 388px;
  margin: 20px auto 60px; }

.choice {
  width: 91px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  position: relative; }
  .choice img {
    width: 100%; }
  .choice .desc {
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    width: 86%;
    margin: 7%;
    font-size: 0.9em; }
  .choice.answer:after {
    position: absolute;
    content: " ";
    display: block;
    width: 26px;
    height: 22px;
    left: 50%;
    bottom: -40px;
    margin-left: -13px;
    background-image: url(../img/arrow-down.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    -ms-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }

.section.finish.active .choice.answer:after {
  opacity: 1; }

.choice.c1 {
  background-image: url(../img/choice/11.png); }

.choice.c1:hover {
  background-image: url(../img/choice/21.png); }

.choice.c1.chosen {
  background-image: url(../img/choice/41.png); }

.choice.c1.chosen.answer.fill {
  background-image: url(../img/choice/51.png); }

.choice.c1.fill.answer {
  background-image: url(../img/choice/31.png); }

.choice.c2 {
  background-image: url(../img/choice/12.png); }

.choice.c2:hover {
  background-image: url(../img/choice/22.png); }

.choice.c2.chosen {
  background-image: url(../img/choice/42.png); }

.choice.c2.chosen.answer.fill {
  background-image: url(../img/choice/52.png); }

.choice.c2.fill.answer {
  background-image: url(../img/choice/32.png); }

.choice.c3 {
  background-image: url(../img/choice/13.png); }

.choice.c3:hover {
  background-image: url(../img/choice/23.png); }

.choice.c3.chosen {
  background-image: url(../img/choice/43.png); }

.choice.c3.chosen.answer.fill {
  background-image: url(../img/choice/53.png); }

.choice.c3.fill.answer {
  background-image: url(../img/choice/33.png); }

.choice.c4 {
  background-image: url(../img/choice/14.png); }

.choice.c4:hover {
  background-image: url(../img/choice/24.png); }

.choice.c4.chosen {
  background-image: url(../img/choice/44.png); }

.choice.c4.chosen.answer.fill {
  background-image: url(../img/choice/54.png); }

.choice.c4.fill.answer {
  background-image: url(../img/choice/34.png); }

.section {
  display: none; }
  .section p {
    width: 80%;
    margin: 20px auto 40px;
    text-indent: 1em;
    letter-spacing: 2px;
    line-height: 1.6em; }
  .section p.detail {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 30px 20px;
    margin-top: 40px; }

.section.active {
  display: block; }

#puzzle {
  width: 50%;
  height: 100%;
  background: #80d3dc;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1; }
  #puzzle img.bk {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2; }

#puzzle .ib {
  width: 80%;
  margin: 10%;
  position: relative; }
  #puzzle .ib img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 3; }
  #puzzle .ib img.active {
    opacity: 1; }

#menu {
  width: 44px;
  height: 397px;
  top: 0;
  left: 0;
  position: fixed;
  background-repeat: no-repeat;
  z-index: 4; }
  #menu .item {
    display: block;
    width: 44px;
    height: 44px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/menu-disabled.png); }
  #menu .item.active {
    background-image: url(../img/menu.png);
    cursor: pointer; }
  #menu .item.active:hover {
    background-image: url(../img/menu-invert.png); }
  #menu .item:nth-of-type(1) {
    background-position: 0 0px; }
  #menu .item:nth-of-type(2) {
    background-position: 0 -44px; }
  #menu .item:nth-of-type(3) {
    background-position: 0 -88px; }
  #menu .item:nth-of-type(4) {
    background-position: 0 -132px; }
  #menu .item:nth-of-type(5) {
    background-position: 0 -176px; }
  #menu .item:nth-of-type(6) {
    background-position: 0 -220px; }
  #menu .item:nth-of-type(7) {
    background-position: 0 -264px; }
  #menu .item:nth-of-type(8) {
    background-position: 0 -308px; }
  #menu .item:nth-of-type(9) {
    background-position: 0 -352px; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#banner {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: #00a7b9; }

#bnr-logo {
  position: absolute;
  width: 180px;
  height: 56px;
  background-image: url(../img/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin: 20px; }

#bnr-credit {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7em;
  font-weight: 900;
  margin: 20px 20px 0 0; }
  #bnr-credit .item {
    display: inline-block;
    color: #fff;
    background-image: url(../img/credit-icon.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
    margin-right: 25px; }

@media (max-width: 1280px) {
  #bnr-credit {
    width: 600px; }
    #bnr-credit .item.long {
      width: 310px; } }
@media (max-width: 880px) {
  #bnr-credit {
    width: 320px; } }
@media (max-width: 580px) {
  #bnr-credit {
    display: none; } }
#bnr-intro {
  position: absolute;
  bottom: 70px;
  font-size: 0.65em;
  width: 60%;
  left: 20%;
  text-align: center;
  color: #fff; }

@media (max-width: 1024px) {
  #bnr-intro {
    width: 80%;
    left: 10%;
    bottom: 40px; } }
@media (max-width: 800px) {
  #bnr-intro .line {
    display: inline; } }
@media (max-width: 480px) {
  #bnr-intro {
    bottom: 30px;
    width: 90%;
    left: 5%; } }
#bnr-more {
  width: 41px;
  height: 18px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -20px;
  background-image: url(../img/banner/more.png);
  background-position: center center;
  background-size: cover; }

#bhs-container {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  height: 60%;
  overflow: hidden;
  -ms-transform: translate(-2%, -40%);
  -moz-transform: translate(-2%, -40%);
  -webkit-transform: translate(-2%, -40%);
  -o-transform: translate(-2%, -40%);
  transform: translate(-2%, -40%); }
  #bhs-container .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }

#bhs-house {
  background-image: url(../img/banner/house.png);
  z-index: 6; }

#bhs-bike {
  background-image: url(../img/banner/bike.png);
  z-index: 8; }

@-webkit-keyframes bhs-door-l {
  0% {
    left: 0; }
  100% {
    left: -8%; } }
@-moz-keyframes bhs-door-l {
  0% {
    left: 0; }
  100% {
    left: -8%; } }
@-ms-keyframes bhs-door-l {
  0% {
    left: 0; }
  100% {
    left: -8%; } }
@keyframes bhs-door-l {
  0% {
    left: 0; }
  100% {
    left: -8%; } }
@-webkit-keyframes bhs-door-r {
  0% {
    left: 0; }
  100% {
    left: 8%; } }
@-moz-keyframes bhs-door-r {
  0% {
    left: 0; }
  100% {
    left: 8%; } }
@-ms-keyframes bhs-door-r {
  0% {
    left: 0; }
  100% {
    left: 8%; } }
@keyframes bhs-door-r {
  0% {
    left: 0; }
  100% {
    left: 8%; } }
#bhs-door-l {
  background-image: url(../img/banner/door-l.png);
  -ms-animation: bhs-door-l ease-in-out 1 1.5s;
  -moz-animation: bhs-door-l ease-in-out 1 1.5s;
  -webkit-animation: bhs-door-l ease-in-out 1 1.5s;
  -o-animation: bhs-door-l ease-in-out 1 1.5s;
  animation: bhs-door-l ease-in-out 1 1.5s; }

#bhs-door-r {
  background-image: url(../img/banner/door-r.png);
  -ms-animation: bhs-door-r ease-in-out 1 1.5s;
  -moz-animation: bhs-door-r ease-in-out 1 1.5s;
  -webkit-animation: bhs-door-r ease-in-out 1 1.5s;
  -o-animation: bhs-door-r ease-in-out 1 1.5s;
  animation: bhs-door-r ease-in-out 1 1.5s; }

#bhs-door-l, #bhs-door-r {
  z-index: 7;
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards; }
