html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 20px; }

#puzzle {
  width: 50%;
  height: 100%;
  background: #00a7b9;
  position: fixed;
  top: 0;
  left: 0; }

#content {
  width: 50%;
  margin-left: 50%;
  background: #e6d471;
  padding: 100px 0; }

.question {
  margin: 20px auto 60px;
  background: none;
  width: 70%;
  position: relative;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat; }
  .question img {
    width: 100%; }
  .question .desc {
    position: absolute;
    font-size: 1.5em;
    width: 80%;
    top: 60px;
    left: 15%; }

.question.sm .desc {
  top: 41%; }

.question.md .desc {
  top: 29%; }

.question.lg .desc {
  top: 22%; }

.choices {
  width: 388px;
  margin: 20px auto 60px; }

.choice {
  width: 91px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  position: relative; }
  .choice img {
    width: 100%; }
  .choice .desc {
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    text-align: center;
    width: 86%;
    margin: 7%;
    font-size: 0.9em; }
  .choice.answer:after {
    position: absolute;
    content: " ";
    display: block;
    width: 26px;
    height: 22px;
    left: 50%;
    bottom: -40px;
    margin-left: -13px;
    background-image: url(../img/arrow-down.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    -ms-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }

.section.finish.active .choice.answer:after {
  opacity: 1; }

.choice.c1 {
  background-image: url(../img/choice/11.png); }

.choice.c1:hover {
  background-image: url(../img/choice/21.png); }

.choice.c1.chosen {
  background-image: url(../img/choice/41.png); }

.choice.c1.chosen.answer {
  background-image: url(../img/choice/31.png); }

.choice.c2 {
  background-image: url(../img/choice/12.png); }

.choice.c2:hover {
  background-image: url(../img/choice/22.png); }

.choice.c2.chosen {
  background-image: url(../img/choice/42.png); }

.choice.c2.chosen.answer {
  background-image: url(../img/choice/32.png); }

.choice.c3 {
  background-image: url(../img/choice/13.png); }

.choice.c3:hover {
  background-image: url(../img/choice/23.png); }

.choice.c3.chosen {
  background-image: url(../img/choice/43.png); }

.choice.c3.chosen.answer {
  background-image: url(../img/choice/33.png); }

.choice.c4 {
  background-image: url(../img/choice/14.png); }

.choice.c4:hover {
  background-image: url(../img/choice/24.png); }

.choice.c4.chosen {
  background-image: url(../img/choice/44.png); }

.choice.c4.chosen.answer {
  background-image: url(../img/choice/34.png); }

.section {
  display: none; }
  .section p {
    width: 80%;
    margin: 20px auto 40px;
    text-indent: 1em;
    letter-spacing: 2px;
    line-height: 1.6em; }
  .section p.detail {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 30px 20px;
    margin-top: 40px; }

.section.active {
  display: block; }

#puzzle .ib {
  width: 80%;
  margin: 10%;
  position: relative; }
  #puzzle .ib img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
