@import vars
@import basic

.choices
  width: 388px
  margin: 20px auto 60px

@media (max-width: 480px)
  .choices
    width: auto

.choice
  width: 90px
  background-repeat: no-repeat
  display: inline-block
  cursor: pointer
  position: relative
  img
    width: 100%
  .desc
    position: absolute
    top: 40%
    @include transform(translateY(-50%))
    left: 0
    text-align: center
    width: 86%
    margin: 7%
    font-size: 0.9em

  &.answer:after
    position: absolute
    content: " "
    display: block
    width: 26px
    height: 22px
    left: 50%
    bottom: -40px
    margin-left: -13px
    background-image: url(../img/arrow-down.png)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    opacity: 0
    @include transition(opacity 1s)

.section.finish.active .choice.answer:after
  opacity: 1

@mixin choice-spec($id)
  @media (min-width: 481px)
    .choice.c#{$id}
      background-position: #{($id - 1) * -91}px 0
    .choice.c#{$id}:hover
      background-position: #{($id - 1) * -91}px -132px
    .choice.c#{$id}.chosen
      background-position: #{($id - 1) * -91}px -395px
    .choice.c#{$id}.chosen.answer.fill
      background-position: #{($id - 1) * -91}px -526px
    .choice.c#{$id}.fill.answer
      background-position: #{($id - 1) * -91}px -263px
  @media (max-width: 480px)
    .choice.c#{$id}
      background-position: #{($id - 1) * -71}px 0
    .choice.c#{$id}:hover
      background-position: #{($id - 1) * -71}px -103px
    .choice.c#{$id}.chosen
      background-position: #{($id - 1) * -71}px -308px
    .choice.c#{$id}.chosen.answer.fill
      background-position: #{($id - 1) * -71}px -410px
    .choice.c#{$id}.fill.answer
      background-position: #{($id - 1) * -71}px -205px

@include choice-spec(1)
@include choice-spec(2)
@include choice-spec(3)
@include choice-spec(4)

@media (min-width: 481px)
  .choice
    background-image: url(../img/choice/lg.png)
@media (max-width: 480px)
  .choices
    text-align: center
  .choice
    background-image: url(../img/choice/sm.png)
    width: 70px
    line-height: 0.8em
