doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
include mixin.jade
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="css/index.css")
    script(type="text/javascript",src="sentence-stat.js")
    script(type="text/javascript",src="js/index.js")
    script(type="text/javascript",src="js/library.js")
    script(type="text/javascript",src="#{assets}/misc/jquery.sticky.js")
  body(ng-app="main",ng-controller="main")
    #root
      #banner
        #bnr-logo
        #bnr-credit
          .item 專題企畫／蔣宜婷、邱彥瑜
          .item.long 網頁工程／Kirby Wu（零傳媒）
          .item 網頁設計／黃禹禛、吳政達
          .item.long 編採團隊／蘇柔郡、彭筱婷、陳貞樺、陳韻年
        #bhs-container
          #bhs-house.frame
          #bhs-bike.frame
          #bhs-door-l.frame
          #bhs-door-r.frame
        #bnr-intro
          .line 對多數人來講，我們心中的里長印象，大多限於社區廣播器的聲音，以及公告上的署名。
          .line 里長，應該是連結我們與政府的重要媒介，但我們總是只聞其聲不見其人，甚至里長的職務內容都不清楚。
          .line 你心中的里長輪廓是什麼樣子呢？新聞 e 論壇分析了台灣里長的相關資料，透過回答下面７大問題，一步一步描繪出台灣里長的大致樣貌。
        #bnr-more
      #menu
        a.item(ng-click="skolto('Q1-Q')",ng-class="{'active':ans['Q1']}")
        a.item(ng-click="skolto('Q1-Q')",ng-class="{'active':ans['Q1']}")
        a.item(ng-click="skolto('Q2-Q')",ng-class="{'active':ans['Q2']}")
        a.item(ng-click="skolto('Q3-Q')",ng-class="{'active':ans['Q3']}")
        a.item(ng-click="skolto('Q4-Q')",ng-class="{'active':ans['Q4']}")
        a.item(ng-click="skolto('Q5-Q')",ng-class="{'active':ans['Q5']}")
        a.item(ng-click="skolto('Q6-Q')",ng-class="{'active':ans['Q6']}")
        a.item(ng-click="skolto('Q7-Q')",ng-class="{'active':ans['Q7']}")
        a.item.active(href="https://www.facebook.com/NewseForum?fref=ts",target="_blank")
 
      #puzzle
        img.bk(src="img/chief/BK.png")
        .ib
          +img('Q1')
          +img('Q2')
          +img('Q3')
          +img('Q4')
          +img('Q5')
          +img('Q6')
          +img('Q7')
          +img('Q8')
      #content
        | &nbsp;
        +section('Q1')

          +question('sm') 台灣里長性別比 (男：女) ？
          .choices
            +choice('1', 'Q2', true) 6 : 1
            +choice('2', 'Q2') 4 : 1
            +choice('3', 'Q2') 2 : 1
            +choice('4', 'Q2') 1 : 1

        +section('Q2')
          +puzzle-inline(2)
          .para.answer
            p.answer 正確答案：6 : 1
            br
            p 爬梳中選會資料，女性擔任村里長的比例，在縣（市）只有10.21%、在直轄市為14％，全國平均僅12.03％。婦女新知基金會監事、台大政治系副教授黃長玲曾指出，觀察婦女參政趨勢，可發現民意代表中女性比例持續成長，但是女性首長比例多年來變化有限，越往基層女性比例越少。
            p 同時，憲法第134條所規定的女性保障名額，並沒有包含村里長選舉。中央層級的立法委員選舉，便規定全國不分區立委中，女性立委不得少於政黨提名二分之一，而地方民意代表亦有名額達4人者，應有女性當選名額1人的相關規定。

          +question('md') 大家口中的「里長伯」、「里長姨」的平均年齡究竟是?
          .choices
            +choice('1', 'Q3') 
              | 35-44 
              br
              | 歲
            +choice('2', 'Q3')
              | 45-54
              br
              | 歲
            +choice('3', 'Q3', true)
              | 55-64
              br
              | 歲
            +choice('4', 'Q3') 
              | 65-74
              br
              | 歲

        +section('Q3')
          +puzzle-inline(3)
          .para.answer
            p.answer 正確答案：55-64歲
            br
            p 雖然年滿23歲就可參選里長，但里長平均年齡落在中高齡的55-64歲，全台灣里長最年輕的縣市是連江縣東引鄉（平均年齡為42歲），最年長則是苗栗縣獅潭鄉（平均年齡為72歲），而光是民國45年出生、現年58歲的現任里長就有784個，佔了十分之一。
            p 今年受到318反黑箱服貿運動影響，許多青年投入基層參政，以台北市來說，登記參選里長的35歲以下青年，就比上一屆多出7成，不過60歲以上的登記人數也增加許多，台北市里長參選人的平均年齡仍維持在55歲。
            p 青年參政並非新鮮事，4年前的里長選舉，新竹市竹下里便選出年僅23歲的里長，台北市、桃園市也有25歲的參選人當選，但許多年輕里長大多倚靠家人、親戚擔任現任里長的既有網絡，繼承政治世家的案例居多。

          +question('md') 里長該不會也被黨工滲透了？猜猜哪個黨的里長較多?
          .choices
            +choice('1', 'Q4') 國民黨
            +choice('2', 'Q4') 民進黨
            +choice('3', 'Q4') 親民黨
            +choice('4', 'Q4', true) 沒有黨

        +section('Q4')
          +puzzle-inline(4)
          .para.answer
            p.answer 正確答案：沒有黨
            br
            p 根據中選會統計資料，99年里長當選人最多為無黨籍及未經政黨推薦，共4927 人，其次為中國國民黨共3501 人，民主進步黨籍為583人，綠黨1 人、親民黨 1 人、中華統一促進黨 : 2 人、台灣團結聯盟 : 2 人，無黨籍及未經政黨推薦 : 6505 人
            p 里長的政黨標籤並不一定重要，即使有黨籍也不一定會拿出來，多為自己經營的人際網絡。一般除了獲得政黨票（政黨提名），很多都是personal vote，倚靠人際網絡，走動地方。
            p.datasrc 
              | 資料來源：
              a(href="http://db.cec.gov.tw/histMain.jsp?voteSel=20100601E1") http://db.cec.gov.tw/histMain.jsp?voteSel=20100601E1

          +question('lg') 身為一個里長，為民服務也是很正常的。里長該做的職責有哪些呢?
          .choices
            +choice('1', 'Q5') 廣播里政策
            +choice('2', 'Q5') 幫里民喬事情
            +choice('3', 'Q5') 主辦里團康活動
            +choice('4', 'Q5', true) 跟里民有關的一手包辦

        +section('Q5')
          +puzzle-inline(5)
          .para.answer
            p.answer 正確答案：跟里民有關的一手包辦
            br
            p 里長並沒有明確法定職責，僅由各地市政府自行訂定服務實施要點，然而基本上大致相同（見附表），如協助公部門處理該里公共事務、向上級機關溝通以反應里民需求，為里民辦理各式活動。
            p 過去台灣的里長多類似「土地公」的角色，高度參與里民生活，如同地方上的大家長，然而隨著台灣選舉經費上升，人際網絡關係式微，村里長往往成為地方樁腳、縣市議員的下線。
            p.noindent 村/里長職責：

            ul.active
              li 推行政令，反映民意。
              li 推行村（里）文康活動。
              li(ng-show="!dutyMore") 協辦社會救助、兒童、少年、婦女、身心障礙者、 ...

            ul(ng-class="{'active':dutyMore}")
              li 協辦社會救助、兒童、少年、婦女、身心障礙者、老人保護、家庭暴力及性侵害防治、高風險家庭、弱勢家庭等查察通報事項、福利服務事項及其他改善生活環境與增進民眾福址有關事項。
              li 代繕各種申請書表及辦理村（里）辦公處證明事項。
              li 分送有關役政通知單、徵集令及辦理役男兵籍調查及兵役資料之查報。
              li 辦理村（里）例行會議及加強鄰長會議之召開，並作成詳細紀錄，以備查考。
              li 協辦各種公職人員選舉選務工作。
              li 協辦房屋稅、地價稅發單催繳、綜合所得稅輔導申報等工作。
              li 辦理村（里）工作會報之各項行政庶務。
              li 其他交辦事項：係指臨時性統籌支援工作而言，公所各單位職掌範圍內工作，因重大或緊急或臨時亟需村（里）幹事協辦事項，應簽陳鄉（鎮、市）長核准後，再列入交辦事項。
              li 村(里)幹事對政府列冊有案之中低收入者、低收入戶、獨居老人每半年至少應分別訪問一次，如有特殊事蹟或遭遇重大災害者，應作成訪問紀錄，並登載於工作綜合紀錄簿列管追蹤。
              li 公所應至少每三個月舉行村(里)幹事工作會報一次，由鄉(鎮、市)長主持，鄉(鎮、市)長因故不能主持時，由主任秘書(秘書)或民政課長代理主持，得邀請公所各單位主管列席。」

            .btn.btn-success.btn-block(ng-disabled="dutyMore==true",ng-click="dutyMore=!!!dutyMore") 看更多
            br
            br
            p.datasrc 
              | 資料來源：臺大政治學系教授王業立、
              a(href="http://serene-scrubland-5950.herokuapp.com/views/info.html") http://serene-scrubland-5950.herokuapp.com/views/info.html

          +question('lg') 市長只能連任一次，指派的區長則是可連任二次，那猜猜看里長可以連任幾次?
          .choices
            +choice('1', 'Q6') 1次
            +choice('2', 'Q6') 2次
            +choice('3', 'Q6') 3次
            +choice('4', 'Q6', true) 無限次

        +section('Q6')
          +puzzle-inline(6)
          .para.answer
            p.answer 正確答案：無限次
            br
            p 在我國地方行政首長選舉中，除村（里）長連選得連任，無次數限制外，其餘直轄市長、縣（市）長、鄉（鎮、市）長均連選得連任1次。也因此許多民眾心中「里長始終是同1個」的印象，並不是憑空而來。
            p 萬華區西門里現任里長葉木麟便是個明顯例子，他從民國44年首次擔任里長至今，連選得連任，已經做了60年的里長，也已經84歲。他這一屆雖然沒有繼續參選，但仍是臺北市最資深里長。而全台灣各地區，都不難見到已經連任8次、9次甚至10次以上的里長。

          +question('md') 里長不拿薪水，那麼一個月可以拿多少補助呢?
          .choices
            +choice('1', 'Q7') 兩萬五
            +choice('2', 'Q7', true) 四萬五
            +choice('3', 'Q7') 六萬五
            +choice('4', 'Q7') 八萬五

        +section('Q7')
          +puzzle-inline(7)
          .para.answer
            p.answer 正確答案：四萬五
            br
            p 在我國，里長屬無給職，沒有薪水。不過，每個月有4萬5千元的事務補助費，主要補助如辦公處文具、郵電、水電費等因公支出之費用。里辦公處每年可申請里鄰建設服務經費30萬元、睦鄰互助聯誼活動補助費6萬元整。而里長個人每年則能申請健康檢查補助費1萬6千元、保險費1萬5千元、與自強活動補助費6千元。若里長在任期內死亡，則補助喪葬慰問金5萬元，若里長本人結婚，則補助2萬元。

          +question('md') 台灣這麼小，總鄰里數會是多少呢?
          .choices
            +choice('1', 'Q8')
              div 4000 至
              div 5000 個
            +choice('2', 'Q8')
              div 5000 至
              div 6000 個
            +choice('3', 'Q8')
              div 6000 至
              div 7000 個
            +choice('4', 'Q8', true)
              div 7000 至
              div 8000 個

        +section('Q8')
          +puzzle-inline(8)
          .para.answer
            p.answer 正確答案：7839個鄰里數
            br
            p 根據內政部統計，民國90年之後，台灣的村里數目一直維持在7,700~7,900左右。民國99年底，台北縣、台中縣市、台南縣市、以及與高雄市合併的高雄縣，因改制成直轄市，原有的村改為里，里的數量大幅上升。其中新北市有1032的里，居全台縣市之冠，占了將近七分之一；最少的則是連江縣，僅有22個村。

