<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>template</title>
    <!-- libraries-->
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="sentence-stat.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/library.js"></script>
    <script type="text/javascript" src="assets/misc/jquery.sticky.js"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="root">
      <div id="banner">
        <div id="bnr-logo"></div>
        <div id="bnr-credit">
          <div class="item">專題企畫／蔣宜婷、邱彥瑜</div>
          <div class="item long">網頁工程／Kirby Wu（零傳媒）</div>
          <div class="item">網頁設計／黃禹禛、吳政達</div>
          <div class="item long">編採團隊／蘇柔郡、彭筱婷、陳貞樺、陳韻年</div>
        </div>
        <div id="bhs-container">
          <div id="bhs-house" class="frame"></div>
          <div id="bhs-bike" class="frame"></div>
          <div id="bhs-door-l" class="frame"></div>
          <div id="bhs-door-r" class="frame"></div>
        </div>
        <div id="bnr-intro">
          <div class="line">對多數人來講，我們心中的里長印象，大多限於社區廣播器的聲音，以及公告上的署名。</div>
          <div class="line">里長，應該是連結我們與政府的重要媒介，但我們總是只聞其聲不見其人，甚至里長的職務內容都不清楚。</div>
          <div class="line">你心中的里長輪廓是什麼樣子呢？新聞 e 論壇分析了台灣里長的相關資料，透過回答下面７大問題，一步一步描繪出台灣里長的大致樣貌。</div>
        </div>
      </div>
      <div id="menu"><a ng-click="skolto('Q1-Q')" ng-class="{'active':ans['Q1']}" class="item"></a><a ng-click="skolto('Q1-Q')" ng-class="{'active':ans['Q1']}" class="item"></a><a ng-click="skolto('Q2-Q')" ng-class="{'active':ans['Q2']}" class="item"></a><a ng-click="skolto('Q3-Q')" ng-class="{'active':ans['Q3']}" class="item"></a><a ng-click="skolto('Q4-Q')" ng-class="{'active':ans['Q4']}" class="item"></a><a ng-click="skolto('Q5-Q')" ng-class="{'active':ans['Q5']}" class="item"></a><a ng-click="skolto('Q6-Q')" ng-class="{'active':ans['Q6']}" class="item"></a><a ng-click="skolto('Q7-Q')" ng-class="{'active':ans['Q7']}" class="item"></a><a href="https://www.facebook.com/NewseForum?fref=ts" target="_blank" class="item active"></a></div>
    </div>
  </body>
</html>