<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <title>最熟悉的陌生人 - 里長事務知多少？</title>
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="http://0media.tw/vchief/img/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="588">
    <meta property="og:image:height" content="310">
    <meta property="og:url" content="http://0media.tw/vchief/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="最熟悉的陌生人 - 里長事物知多少？ / 新聞 e 論壇">
    <meta property="og:description" content="對多數人來講，我們心中的里長印象，大多限於社區廣播器的聲音，以及公告上的署名。里長，應該是連結我們與政府的重要媒介，但我們總是只聞其聲不見其人，甚至里長的職務內容都不清楚。你心中的里長輪廓是什麼樣子呢？新聞 e 論壇分析了台灣里長的相關資料，透過回答下面７大問題，一步一步描繪出台灣里長的大致樣貌。">
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="sentence-stat.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="js/library.js"></script>
    <script type="text/javascript" src="//cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    <script type="text/javascript" src="//cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
    <script type="text/javascript" src="assets/misc/jquery.sticky.js"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="root">
      <div id="banner">
        <div id="bnr-logo"></div>
        <div id="bnr-credit">
          <div class="item">專題企畫／蔣宜婷、邱彥瑜</div>
          <div class="item long">網頁工程／Kirby Wu（零傳媒）</div>
          <div class="item">網頁設計／黃禹禛、吳政達</div>
          <div class="item long">編採團隊／蘇柔郡、彭筱婷、陳貞樺、陳韻年</div>
        </div>
        <div id="bhs-container">
          <div id="bhs-house" class="frame"></div>
          <div id="bhs-bike" class="frame"></div>
          <div id="bhs-door-l" class="frame"></div>
          <div id="bhs-door-r" class="frame"></div>
        </div>
        <div id="bnr-intro">
          <div class="line">對多數人來講，我們心中的里長印象，大多限於社區廣播器的聲音，以及公告上的署名。</div>
          <div class="line">里長，應該是連結我們與政府的重要媒介，但我們總是只聞其聲不見其人，甚至里長的職務內容都不清楚。</div>
          <div class="line">你心中的里長輪廓是什麼樣子呢？新聞 e 論壇分析了台灣里長的相關資料，透過回答下面7大問題，一步一步描繪出台灣里長的大致樣貌。</div>
        </div>
        <div id="bnr-more" ng-click="skolto('content')"></div>
      </div>
      <div id="menu" ng-class="{'active':menuShow}"><a ng-click="menuShow=!!!menuShow" class="item"></a><a ng-click="skolto('Q1-Q')" ng-class="{'active':ans['Q1']}" class="item"></a><a ng-click="skolto('Q1-Q')" ng-class="{'active':ans['Q1']}" class="item"></a><a ng-click="skolto('Q2-Q')" ng-class="{'active':ans['Q2']}" class="item"></a><a ng-click="skolto('Q3-Q')" ng-class="{'active':ans['Q3']}" class="item"></a><a ng-click="skolto('Q4-Q')" ng-class="{'active':ans['Q4']}" class="item"></a><a ng-click="skolto('Q5-Q')" ng-class="{'active':ans['Q5']}" class="item"></a><a ng-click="skolto('Q6-Q')" ng-class="{'active':ans['Q6']}" class="item"></a><a ng-click="skolto('Q7-Q')" ng-class="{'active':ans['Q7']}" class="item"></a><a href="https://www.facebook.com/NewseForum?fref=ts" target="_blank" class="item active"></a></div>
      <div id="puzzle"><img src="img/chief/BK.png" class="bk">
        <div class="ib"><img src="img/chief/cat.gif" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q1.png" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q2.png" ng-class="{'active':ans['Q2']}"><img src="img/chief/Q3.png" ng-class="{'active':ans['Q3']}"><img src="img/chief/Q4.png" ng-class="{'active':ans['Q4']}"><img src="img/chief/Q5.png" ng-class="{'active':ans['Q5']}"><img src="img/chief/Q6.png" ng-class="{'active':ans['Q6']}"><img src="img/chief/Q7.png" ng-class="{'active':ans['Q7']}"><img src="img/chief/Q8.png" ng-class="{'active':ans['Q8']}"><img src="img/chief/eye.gif" ng-class="{'active':ans['Q8']}">
        </div>
      </div>
      <div id="content">&nbsp;
        <div ng-controller="section" id="Q1" class="section">
          <div id="Q1-Q"></div>
          <div class="para answer">
            <p class="answer">準備好了嗎? 現在就開始憑你的記憶，開始回答以下問題，按下你的答案，里長的輪廓會隨著問題的答案慢慢浮現喔。</p>
          </div><br><br><br><br>
          <div class="question-fluid">
            <div class="desc">台灣里長性別比 (男：女) ？
            </div>
            <div class="nodesc">台灣里長性別比 (男：女) ？
            </div>
          </div>
          <div class="choices">
            <div ng-class="{'chosen': chosen==1,'fill': ans['Q2']}" ng-click="choice(1,'Q2',true)" class="choice c1 answer"><img class="btn-base">
              <div class="desc">6 : 1
              </div>
            </div>
            <div ng-class="{'chosen': chosen==2,'fill': ans['Q2']}" ng-click="choice(2,'Q2',false)" class="choice c2"><img class="btn-base">
              <div class="desc">4 : 1
              </div>
            </div>
            <div ng-class="{'chosen': chosen==3,'fill': ans['Q2']}" ng-click="choice(3,'Q2',false)" class="choice c3"><img class="btn-base">
              <div class="desc">2 : 1
              </div>
            </div>
            <div ng-class="{'chosen': chosen==4,'fill': ans['Q2']}" ng-click="choice(4,'Q2',false)" class="choice c4"><img class="btn-base">
              <div class="desc">1 : 1
              </div>
            </div>
          </div>
        </div>
        <div ng-controller="section" id="Q2" class="section">
          <div id="Q2-Q"></div>
          <div class="puzzle-inline">
            <div class="ib"><img src="img/chief/Q1.png" ng-class="{'active':ans['Q1']}"><img src="img/chief/cat.gif" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q2.png" ng-class="{'active':ans['Q2']}">
            </div>
          </div>
          <div class="para answer">
            <p class="answer">正確答案：6 : 1</p><br>
            <div id="Q1-chart" class="q-chart">
              <div id="Q1-male">男性</div>
              <div id="Q1-female">女性</div>
              <div id="Q1-all" ng-attr-style="left:{{Q1.all}}%"></div>
              <div id="Q1-you" ng-attr-style="left:{{Q1.you}}%"></div>
            </div><br><br>
            <p>爬梳中選會資料，女性擔任村里長的比例，在縣（市）只有10.21%、在直轄市為14％，全國平均僅12.03％。婦女新知基金會監事、台大政治系副教授黃長玲曾指出，觀察婦女參政趨勢，可發現民意代表中女性比例持續成長，但是女性首長比例多年來變化有限，越往基層女性比例越少。</p>
            <p>憲法第134條所規定的女性保障名額，並沒有包含村里長選舉。中央層級的立法委員選舉，便規定全國不分區立委中，女性立委不得少於政黨提名二分之一，而地方民意代表亦有名額達4人者，應有女性當選名額1人的相關規定。</p>
            <p class="datasrc">資料來源：中選會選舉資料庫</p>
          </div>
          <div class="question-fluid">
            <div class="desc">大家口中的「里長伯」、「里長姨」的平均年齡究竟是?
            </div>
            <div class="nodesc">大家口中的「里長伯」、「里長姨」的平均年齡究竟是?
            </div>
          </div>
          <div class="choices">
            <div ng-class="{'chosen': chosen==1,'fill': ans['Q3']}" ng-click="choice(1,'Q3',false)" class="choice c1"><img class="btn-base">
              <div class="desc">35-44 <br>歲
              </div>
            </div>
            <div ng-class="{'chosen': chosen==2,'fill': ans['Q3']}" ng-click="choice(2,'Q3',false)" class="choice c2"><img class="btn-base">
              <div class="desc">45-54<br>歲
              </div>
            </div>
            <div ng-class="{'chosen': chosen==3,'fill': ans['Q3']}" ng-click="choice(3,'Q3',true)" class="choice c3 answer"><img class="btn-base">
              <div class="desc">55-64<br>歲
              </div>
            </div>
            <div ng-class="{'chosen': chosen==4,'fill': ans['Q3']}" ng-click="choice(4,'Q3',false)" class="choice c4"><img class="btn-base">
              <div class="desc">65-74<br>歲
              </div>
            </div>
          </div>
        </div>
        <div ng-controller="section" id="Q3" class="section">
          <div id="Q3-Q"></div>
          <div class="puzzle-inline">
            <div class="ib"><img src="img/chief/Q1.png" ng-class="{'active':ans['Q1']}"><img src="img/chief/cat.gif" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q2.png" ng-class="{'active':ans['Q2']}"><img src="img/chief/Q3.png" ng-class="{'active':ans['Q3']}">
            </div>
          </div>
          <div class="para answer">
            <p class="answer">正確答案：55-64歲</p><br>
            <div id="Q2-chart" class="barchart">
              <div class="bars">
                <div ng-repeat="a in Q2.data" ng-attr-style="height:{{a/15.08}}%;left:{{6.6*$index}}%" class="bar"></div>
              </div>
              <div class="q-btmline"></div>
              <div class="labels">
                <div class="label">27 歲</div>
                <div class="label">60 歲</div>
                <div class="label">87 歲</div>
              </div>
              <div ng-attr-style="left: {{Q2.you}}%" class="you-value"></div>
              <div ng-attr-style="left: {{Q2.all}}%" class="all-value"></div>
            </div><br><br>
            <p>雖然年滿23歲就可參選里長，但里長平均年齡落在中高齡的55-64歲，全台灣里長最年輕的縣市是連江縣東引鄉（平均年齡為42歲），最年長則是苗栗縣獅潭鄉（平均年齡為72歲），而光是民國45年出生、現年58歲的現任里長就有784個，佔了十分之一。</p>
            <p>今年受到318反黑箱服貿運動影響，許多青年投入基層參政，以台北市來說，登記參選里長的35歲以下青年，就比上一屆多出7成。但許多年輕里長大多倚靠家人、親戚擔任現任里長的既有網絡，繼承政治世家的案例居多。</p>
            <p class="datasrc">資料來源：中選會選舉資料庫</p>
          </div>
          <div class="question-fluid">
            <div class="desc">里長該不會也被黨工滲透了？猜猜哪個黨的里長較多?
            </div>
            <div class="nodesc">里長該不會也被黨工滲透了？猜猜哪個黨的里長較多?
            </div>
          </div>
          <div class="choices">
            <div ng-class="{'chosen': chosen==1,'fill': ans['Q4']}" ng-click="choice(1,'Q4',false)" class="choice c1"><img class="btn-base">
              <div class="desc">國民黨
              </div>
            </div>
            <div ng-class="{'chosen': chosen==2,'fill': ans['Q4']}" ng-click="choice(2,'Q4',false)" class="choice c2"><img class="btn-base">
              <div class="desc">民進黨
              </div>
            </div>
            <div ng-class="{'chosen': chosen==3,'fill': ans['Q4']}" ng-click="choice(3,'Q4',false)" class="choice c3"><img class="btn-base">
              <div class="desc">親民黨
              </div>
            </div>
            <div ng-class="{'chosen': chosen==4,'fill': ans['Q4']}" ng-click="choice(4,'Q4',true)" class="choice c4 answer"><img class="btn-base">
              <div class="desc">沒有黨
              </div>
            </div>
          </div>
        </div>
        <div ng-controller="section" id="Q4" class="section">
          <div id="Q4-Q"></div>
          <div class="puzzle-inline">
            <div class="ib"><img src="img/chief/Q1.png" ng-class="{'active':ans['Q1']}"><img src="img/chief/cat.gif" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q2.png" ng-class="{'active':ans['Q2']}"><img src="img/chief/Q3.png" ng-class="{'active':ans['Q3']}"><img src="img/chief/Q4.png" ng-class="{'active':ans['Q4']}">
            </div>
          </div>
          <div class="para answer">
            <p class="answer">正確答案：沒有黨</p><br>
            <div id="Q3-chart" class="barchart">
              <div class="bars">
                <div ng-repeat="c in Q3.data" ng-attr-style="height:{{c/80}}%;left:{{20*$index}}%" class="bar"></div>
              </div>
              <div class="q-btmline"></div>
              <div class="labels">
                <div class="label">無黨籍</div>
                <div class="label">國民黨</div>
                <div class="label">民進黨</div>
                <div class="label">其他</div>
                <div class="label">親民黨</div>
              </div>
              <div ng-attr-style="left:{{Q3.you}}%" class="you-choice">你的選擇</div>
              <div ng-attr-style="left:{{Q3.all}}%;top:60px" class="all-choice">主流選擇</div>
            </div><br><br>
            <p>根據中選會統計資料，99年里長當選人最多為無黨籍及未經政黨推薦，共4927人，其次為中國國民黨共3501人，民主進步黨籍為583人。</p>
            <p>里長的政黨標籤並不一定重要，即使有黨籍也不一定會拿出來，多為自己經營的人際網絡。一般除了獲得政黨票（政黨提名），很多票源都是倚靠里長自己的人際網絡。</p>
            <p class="datasrc">資料來源： 中選會選舉資料庫</p>
          </div>
          <div class="question-fluid">
            <div class="desc">身為一個里長，為民服務也是很正常的。里長該做的職責有哪些呢?
            </div>
            <div class="nodesc">身為一個里長，為民服務也是很正常的。里長該做的職責有哪些呢?
            </div>
          </div>
          <div class="choices">
            <div ng-class="{'chosen': chosen==1,'fill': ans['Q5']}" ng-click="choice(1,'Q5',false)" class="choice c1"><img class="btn-base">
              <div class="desc">廣播里政策
              </div>
            </div>
            <div ng-class="{'chosen': chosen==2,'fill': ans['Q5']}" ng-click="choice(2,'Q5',false)" class="choice c2"><img class="btn-base">
              <div class="desc">幫里民喬事情
              </div>
            </div>
            <div ng-class="{'chosen': chosen==3,'fill': ans['Q5']}" ng-click="choice(3,'Q5',false)" class="choice c3"><img class="btn-base">
              <div class="desc">主辦里團康活動
              </div>
            </div>
            <div ng-class="{'chosen': chosen==4,'fill': ans['Q5']}" ng-click="choice(4,'Q5',true)" class="choice c4 answer"><img class="btn-base">
              <div class="desc">跟里民有關的一手包辦
              </div>
            </div>
          </div>
        </div>
        <div ng-controller="section" id="Q5" class="section">
          <div id="Q5-Q"></div>
          <div class="puzzle-inline">
            <div class="ib"><img src="img/chief/Q1.png" ng-class="{'active':ans['Q1']}"><img src="img/chief/cat.gif" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q2.png" ng-class="{'active':ans['Q2']}"><img src="img/chief/Q3.png" ng-class="{'active':ans['Q3']}"><img src="img/chief/Q4.png" ng-class="{'active':ans['Q4']}"><img src="img/chief/Q5.png" ng-class="{'active':ans['Q5']}">
            </div>
          </div>
          <div class="para answer">
            <p class="answer">正確答案：跟里民有關的一手包辦</p><br>
            <div id="Q4-chart" class="barchart">
              <div class="bars">
                <div ng-repeat="c in Q4.data" ng-attr-style="height:{{100*c[0]/Q4.max}}%;left:{{25*$index}}%" class="bar"></div>
              </div>
              <div class="q-btmline"></div>
              <div class="labels">
                <div class="label">A</div>
                <div class="label">B</div>
                <div class="label">C</div>
                <div class="label">D</div>
              </div>
              <div ng-attr-style="left:{{25*Q4.you}}%" class="you-choice">你的選擇</div>
              <div class="all-choice">其他人的選擇分佈</div>
            </div><br><br>
            <p>里長並沒有明確法定職責，僅由各地市政府自行訂定服務實施要點，然而基本上大致相同（見<a href="http://serene-scrubland-5950.herokuapp.com/views/info.html">里長職責</a>），如協助公部門處理該里公共事務、向上級機關溝通反應里民需求，為里民辦理各式活動等。</p>
            <p>過去台灣的里長多類似「土地公」的角色，高度參與里民生活，如同地方上的大家長，然而隨著台灣選舉經費上升，人際網絡關係式微，村里長往往成為地方樁腳、縣市議員的下線。</p><br><br>
            <p class="datasrc">資料來源：臺大政治學系教授王業立、<a href="http://serene-scrubland-5950.herokuapp.com/views/info.html">決戰百里侯</a></p>
          </div>
          <div class="question-fluid">
            <div class="desc">市長只能連任一次，指派的區長則是可連任二次，那猜猜看里長可以連任幾次?
            </div>
            <div class="nodesc">市長只能連任一次，指派的區長則是可連任二次，那猜猜看里長可以連任幾次?
            </div>
          </div>
          <div class="choices">
            <div ng-class="{'chosen': chosen==1,'fill': ans['Q6']}" ng-click="choice(1,'Q6',false)" class="choice c1"><img class="btn-base">
              <div class="desc">1次
              </div>
            </div>
            <div ng-class="{'chosen': chosen==2,'fill': ans['Q6']}" ng-click="choice(2,'Q6',false)" class="choice c2"><img class="btn-base">
              <div class="desc">2次
              </div>
            </div>
            <div ng-class="{'chosen': chosen==3,'fill': ans['Q6']}" ng-click="choice(3,'Q6',false)" class="choice c3"><img class="btn-base">
              <div class="desc">3次
              </div>
            </div>
            <div ng-class="{'chosen': chosen==4,'fill': ans['Q6']}" ng-click="choice(4,'Q6',true)" class="choice c4 answer"><img class="btn-base">
              <div class="desc">無限次
              </div>
            </div>
          </div>
        </div>
        <div ng-controller="section" id="Q6" class="section">
          <div id="Q6-Q"></div>
          <div class="puzzle-inline">
            <div class="ib"><img src="img/chief/Q1.png" ng-class="{'active':ans['Q1']}"><img src="img/chief/cat.gif" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q2.png" ng-class="{'active':ans['Q2']}"><img src="img/chief/Q3.png" ng-class="{'active':ans['Q3']}"><img src="img/chief/Q4.png" ng-class="{'active':ans['Q4']}"><img src="img/chief/Q5.png" ng-class="{'active':ans['Q5']}"><img src="img/chief/Q6.png" ng-class="{'active':ans['Q6']}">
            </div>
          </div>
          <div class="para answer">
            <p class="answer">正確答案：無限次</p><br>
            <div id="Q5-chart" class="barchart">
              <div class="bars">
                <div ng-repeat="c in Q5.data" ng-attr-style="height:{{c/78.25}}%;left:{{25*$index}}%" class="bar"></div>
              </div>
              <div class="q-btmline"></div>
              <div class="title">2010 年村里長選舉連任狀況</div>
              <div class="labels">
                <div class="label">村里總數</div>
                <div class="label">連任成功</div>
                <div class="label">連任失敗</div>
                <div class="label">同額競選</div>
              </div>
            </div><br><br><small><small>(註：村里僅一人參選即稱同額競選)</small></small><br><br>
            <p>在我國地方行政首長選舉中，除村（里）長連選得連任，無次數限制外，其餘直轄市長、縣（市）長、鄉（鎮、市）長均連選得連任1次。也因此許多民眾心中「里長始終是同1個」的印象，並不是憑空而來。</p>
            <p>萬華區西門里現任里長葉木麟便是個明顯例子，他從民國44年首次擔任里長至今，連選得連任，已經做了60年的里長，也已經84歲。他這一屆雖然沒有繼續參選，但仍是臺北市最資深里長。而全台灣各地區，都不難見到已經連任8次、9次甚至10次以上的里長。</p>
          </div>
          <div class="question-fluid">
            <div class="desc">里長不拿薪水，那麼一個月可以拿多少補助呢?
            </div>
            <div class="nodesc">里長不拿薪水，那麼一個月可以拿多少補助呢?
            </div>
          </div>
          <div class="choices">
            <div ng-class="{'chosen': chosen==1,'fill': ans['Q7']}" ng-click="choice(1,'Q7',false)" class="choice c1"><img class="btn-base">
              <div class="desc">兩萬五
              </div>
            </div>
            <div ng-class="{'chosen': chosen==2,'fill': ans['Q7']}" ng-click="choice(2,'Q7',true)" class="choice c2 answer"><img class="btn-base">
              <div class="desc">四萬五
              </div>
            </div>
            <div ng-class="{'chosen': chosen==3,'fill': ans['Q7']}" ng-click="choice(3,'Q7',false)" class="choice c3"><img class="btn-base">
              <div class="desc">六萬五
              </div>
            </div>
            <div ng-class="{'chosen': chosen==4,'fill': ans['Q7']}" ng-click="choice(4,'Q7',false)" class="choice c4"><img class="btn-base">
              <div class="desc">八萬五
              </div>
            </div>
          </div>
        </div>
        <div ng-controller="section" id="Q7" class="section">
          <div id="Q7-Q"></div>
          <div class="puzzle-inline">
            <div class="ib"><img src="img/chief/Q1.png" ng-class="{'active':ans['Q1']}"><img src="img/chief/cat.gif" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q2.png" ng-class="{'active':ans['Q2']}"><img src="img/chief/Q3.png" ng-class="{'active':ans['Q3']}"><img src="img/chief/Q4.png" ng-class="{'active':ans['Q4']}"><img src="img/chief/Q5.png" ng-class="{'active':ans['Q5']}"><img src="img/chief/Q6.png" ng-class="{'active':ans['Q6']}"><img src="img/chief/Q7.png" ng-class="{'active':ans['Q7']}">
            </div>
          </div>
          <div class="para answer">
            <p class="answer">正確答案：四萬五</p><br>
            <div id="Q6-chart" class="barchart">
              <div class="bars">
                <div ng-repeat="c in Q6.data" ng-attr-style="height:{{c[0]/850}}%;left:{{100*$index/6}}%" class="bar"></div>
              </div>
              <div class="q-btmline"></div>
              <div class="title">國人平均月薪</div>
              <div class="labels">
                <div class="label">新鮮人</div>
                <div class="label">里長</div>
                <div class="label">全國平均</div>
                <div class="label">百萬年薪</div>
                <div class="label">你的選擇</div>
                <div class="label">平均答案</div>
              </div>
            </div><br><br>
            <p>在我國，里長屬無給職，沒有薪水。不過，每個月有4萬5千元的事務補助費，主要用於因公支出的費用。里辦公處每年可申請里鄰建設服務經費30萬元、睦鄰互助聯誼活動補助費6萬元整。而里長個人每年則能申請健康檢查補助費1萬6千元、保險費1萬5千元、與自強活動補助費6千元。若里長在任期內死亡，則補助喪葬慰問金5萬元，若里長本人結婚，則補助2萬元。</p>
          </div>
          <div class="question-fluid">
            <div class="desc">台灣這麼小，總鄰里數會是多少呢?
            </div>
            <div class="nodesc">台灣這麼小，總鄰里數會是多少呢?
            </div>
          </div>
          <div class="choices">
            <div ng-class="{'chosen': chosen==1,'fill': ans['Q8']}" ng-click="choice(1,'Q8',false)" class="choice c1"><img class="btn-base">
              <div class="desc">
                <div>4000 至</div>
                <div>5000 個</div>
              </div>
            </div>
            <div ng-class="{'chosen': chosen==2,'fill': ans['Q8']}" ng-click="choice(2,'Q8',false)" class="choice c2"><img class="btn-base">
              <div class="desc">
                <div>5000 至</div>
                <div>6000 個</div>
              </div>
            </div>
            <div ng-class="{'chosen': chosen==3,'fill': ans['Q8']}" ng-click="choice(3,'Q8',false)" class="choice c3"><img class="btn-base">
              <div class="desc">
                <div>6000 至</div>
                <div>7000 個</div>
              </div>
            </div>
            <div ng-class="{'chosen': chosen==4,'fill': ans['Q8']}" ng-click="choice(4,'Q8',true)" class="choice c4 answer"><img class="btn-base">
              <div class="desc">
                <div>7000 至</div>
                <div>8000 個</div>
              </div>
            </div>
          </div>
        </div>
        <div ng-controller="section" id="Q8" class="section">
          <div id="Q8-Q"></div>
          <div class="puzzle-inline">
            <div class="ib"><img src="img/chief/Q1.png" ng-class="{'active':ans['Q1']}"><img src="img/chief/cat.gif" ng-class="{'active':ans['Q1']}"><img src="img/chief/Q2.png" ng-class="{'active':ans['Q2']}"><img src="img/chief/Q3.png" ng-class="{'active':ans['Q3']}"><img src="img/chief/Q4.png" ng-class="{'active':ans['Q4']}"><img src="img/chief/Q5.png" ng-class="{'active':ans['Q5']}"><img src="img/chief/Q6.png" ng-class="{'active':ans['Q6']}"><img src="img/chief/Q7.png" ng-class="{'active':ans['Q7']}"><img src="img/chief/Q8.png" ng-class="{'active':ans['Q8']}"><img src="img/chief/eye.gif" ng-class="{'active':ans['Q8']}">
            </div>
          </div>
          <div class="para answer">
            <p class="answer">正確答案：7839個</p><br>
            <p>根據內政部統計，民國90年後，台灣的村里數目一直維持在7,700~7,900左右。民國99年底縣市合併，將原有的村改為里，里的數量大幅上升。其中新北市有1032個里，居全台縣市之冠；最少的則是連江縣，僅有22個。</p>
            <p class="datasrc">資料來源：中選會選舉資料庫</p>
          </div>
          <div class="para">
            <h3 style="text-indent:0">看看別人答對幾題吧！</h3><br><br>
            <div id="final-chart" class="barchart">
              <div class="bars">
                <div ng-repeat="a in final.data" ng-attr-style="height:{{100*a[0]/final.max}}%;left:{{12.5*$index}}%" class="bar"></div>
              </div>
              <div class="q-btmline"></div>
              <div class="labels">
                <div class="label">0 題</div>
                <div class="label">3 題</div>
                <div class="label">7 題</div>
              </div>
              <div ng-attr-style="left:{{12.5 * final.you + 6.25}}%" class="you-value"></div>
            </div><br><br><br>
            <div class="para answer final">
              <p class="answer">做完測驗，你是否更了解里長這個角色？還是對里長產生更多困惑？</p>
              <p class="answer">新聞E論壇即將推出《青年選里長的政治突圍》專題，除了青年的參選故事外，也藉由不同觀點，討論青年參政以及里長角色。</p>
            </div>
          </div><br>
          <div class="para noindent"><small>
              <h4 style="text-indent:0">Credit</h4>專題企畫／蔣宜婷、邱彥瑜<br>網頁工程／Kirby Wu（零傳媒）<br>網頁設計／黃禹禛、吳政達<br>編採團隊／蘇柔郡、彭筱婷、陳貞樺、陳韻年</small></div>
        </div>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-52410923-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>