mixin img(id,alt)
  if alt
    img(src="img/chief/"+alt,ng-class="{'active':ans['"+id+"']}")
  else
    img(src="img/chief/"+id+".png",ng-class="{'active':ans['"+id+"']}")

mixin section(id)
  .section(ng-controller="section",id=id)
    //-
      p.detail {{randomFact}}
      br
      p {{randomFact}}
    div(id=id+"-Q")
    block

mixin choice(id, next, ans)
  if !ans
    - var ans = ""
    - var correct = false
  else 
    - var ans = " answer"
    - var correct = true
  div(class="choice c"+id+ans,ng-class="{'chosen': chosen=="+id+",'fill': ans['"+next+"']}",ng-click="choice("+id+",'"+next+"',"+correct+")")
    //-img(src="img/choice/empty.png")
    img.btn-base
    .desc: block

mixin question(size)
  .question-fluid
    .desc: block
    .nodesc: block

  //-div(class="question "+size)
    img(src="img/question-"+size+".png")
    .desc: block

mixin puzzle-inline(count)
  .puzzle-inline: .ib
    - var idx = 1
    while idx <= count
      +img('Q'+idx)
      if idx == 1
        +img('Q1', 'cat.gif')
      if idx == 8
        +img('Q8', 'eye.gif')
      - idx++
