mixin img(id)
  img(src="img/chief/"+id+".png",ng-class="{'active':ans['"+id+"']}")
mixin section(id)
  .section(ng-controller="section",id=id)
    //-
      p.detail {{randomFact}}
      br
      p {{randomFact}}
    div(id=id+"-Q")
    block

mixin choice(id, next, ans)
  if !ans
    - var ans = ""
    - var correct = false
  else 
    - var ans = " answer"
    - var correct = true
  div(class="choice c"+id+ans,ng-class="{'chosen': chosen=="+id+",'fill': ans['"+next+"']}",ng-click="choice("+id+",'"+next+"',"+correct+")")
    img(src="img/choice/empty.png")
    .desc: block
mixin question(size)
  div(class="question "+size)
    img(src="img/question-"+size+".png")
    .desc: block
