mixin img(id)
  img(src="img/chief/"+id+".png",ng-show="ans['"+id+"']")
mixin section(id)
  .section(ng-controller="section",id=id)
    p.detail {{randomFact}}
    br
    p {{randomFact}}
    block

mixin choice(id, next, ans)
  if !ans
    - var ans = ""
  else 
    - var ans = " answer"
  div(class="choice c"+id+ans,ng-class="{'chosen': chosen=="+id+"}",ng-click="choice("+id+",'"+next+"')")
    img(src="img/choice/empty.png")
    .desc: block
mixin question(size)
  div(class="question "+size)
    img(src="img/question-"+size+".png")
    .desc: block
