@import ../vars
@import ../basic

.barchart
  height: 100px
  text-indent: 0
  position: relative
  width: 100%

.barchart .bar
  position: absolute
  bottom: 0
  background: $c_darkorange
  @include transition(height 2s)

.barchart .label
  position: absolute
  font-size: 0.5em
  text-align: center
  bottom: -23px
  color: #000
  letter-spacing: 0
  padding: 0

.barchart
  .all-choice, .you-choice
    position: absolute
    bottom: -45px
    display: block
    text-align: center
    font-size: 0.5em
    letter-spacing: 0
    padding: 0
  .all-choice
    bottom: -60px
  .all-value, .you-value
    position: absolute
    top: 0
    left: 0%
    width: 3px
    height: 100%
    background: #000
    @include transition(all 1s)
    &:before
      position: absolute
      top: -26px
      display: block
      width: 100px
      margin-left: -50px
      text-align: center
      font-size: 0.5em
      font-weight: 900
  .all-value
    height: 70%
    bottom: 0
    top: auto
  .you-value
    background: #ff0000
    color: #ff0000

.barchart .title
  position: absolute
  top: -30px
  width: 100%
  left: 0
  text-align: center
  font-size: 0.7em
  font-weight: 900
