#final-chart
  .you-choice, .all-choice
    width: 12%

#final-chart .bar
  width: 11%

#final-chart .labels
  .label
    width: 11%
  .label:nth-of-type(1)
    left: 0%
  .label:nth-of-type(2)
    left: 40%
  .label:nth-of-type(3)
    right: 0

#final-chart .you-value
  left: 30%
#final-chart .you-value:before
  content: "你在這裏"
